name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build Client
        run: |
          cd client
          npm install
          npm run build --if-present

      - name: Build Server
        run: |
          cd server
          npm install
          npm run build --if-present
